.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-right: 150px;
    margin-left: 40px;
}

.right {
    display: flex;
    align-items: center;
}

.right > * {
    margin-left: 2rem;
}

.logo {
    height: 80px;
    width: 350px;
}

.loginText {
    font-size: smaller;
    padding-left: 10px;
}