.beerHeader {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 380px;

}

.bigSamples {

    background: url("../../images/beerSamples.jpg"); 
    background-size:cover; 
    width: 960px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

.welcomeContainer {

    background-color: white;

}



